.bg-alert-blue {
    background-color: $blue;
    padding: 0;
}

.bg-alert-blue p, .bg-alert-blue i {
    margin: 20px 0;
}

.bg-alert-blue, .bg-alert-blue a {
    color: #3D5DB1;
}

.blue-bar {
    background-color: #5C82E6;
    height: auto;
    width: 15px;
    display: inline-block;
}

.cadastro-section {
    margin-bottom: 150px;
}

.cadastro-section form label {
    margin-right: 10px;
}

.form-check-input {
    background-color: $neutra01;
    border: 1px solid $primary;
}

.cadastro-section input::placeholder {
    font-size: 16px;
    color: $neutra03;
}

@media(max-width: 991.98px) {
    .cadastro-section {
        margin-bottom: 50px;
    }
}