header {
    margin-bottom: 20px;
}

.search-area, .search-area input {
    width: 100%;
    background-color: #F2F2F5;
    border: none;
    color: #494949;
    font-size: 14px;
}

input:focus-visible {
    outline: none;
}

.navbar, .navbar-collapse {
    padding: 1.3rem 0;
}

.nav-item a {
    text-decoration: none;
}

.navbar .nav-item .nav-link {
    color: #979696;
    padding-bottom: 1.2rem;
}

.navbar .nav-item .nav-link:hover {
    color: $primary;
    border-bottom: 4px solid $primary;
    transition: .2s;
}